* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #3a1a0f;
	font-weight: bold;
}

.wrapper {
	width: 500px;
	padding: 20px 20px;
	background-color: #f5e9e1;
	border-radius: 5px;
	box-shadow: 0 0 10px #3a1a0f;
}

.header {
	height: 240px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("./img/restaurant.jpg");
	background-position: center;
	background-size: cover;
	z-index: 0;
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.title {
	font-size: 32px;
	color: #fceeed;
}

.subtitle {
	color: #fceeed;
}

label,
input {
	display: block;
}

label {
	padding: 15px 0;
}

input,
select {
	padding: 5px 0;
	border-radius: 5px;
	border: none;
	background-color: #deceb2;
}

input {
	width: 100%;
}

select {
	color: #3a1a0f;
}

.calculate {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 20px auto;
	padding: 10px 30px;
	background-color: #5f120d;
	border: none;
	color: #fceeed;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.calculate:hover {
	cursor: pointer;
	background-color: #12090e;
}

span {
	color: #d12f23;
}

.red-border {
	border: 1px solid #d12f23;
}

.warning {
	color: #d12f23;
}
